<Ifmodule mod_php5.c>
 php_value error_log "/home/threedhouse/__processed_stats/3dhouse.vn.phplog"
 php_value upload_max_filesize 200M
 php_value max_execution_time  30000
 php_value max_input_time  60000
 php_value memory_limit  3200M
 php_value post_max_size  900M
 php_flag register_globals  off
 php_flag display_errors  off
 php_flag file_uploads  on
 php_flag log_errors  off
 php_flag output_buffering  off
 php_flag register_argc_argv  on
 php_flag magic_quotes_gpc   off
 php_flag magic_quotes_runtime  off
 php_flag magic_quotes_sybase  off
 php_flag mysql.allow_persistent  off
 php_flag register_long_arrays  on
 php_flag allow_url_fopen  on
 php_flag cgi.force_redirect  on
 php_flag enable_dl  on
</Ifmodule>
